<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='广告管理',active='adv'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper" >
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page" id="app">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title col-sm-11">广告管理</h4>
                        <button type="button" class="btn btn-success col-sm-1" data-toggle="modal"  data-target="#advModal">添加</button>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>广告名称</th>
                                <th>广告链接</th>
                                <th>是否跳转</th>
                                <th>图片预览</th>
                                <th>适用设备</th>
                                <th>起始日期</th>
                                <th>结束日期</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(adv, index) in advList">
                                <td >{{adv.advName}}</td>
                                <td >{{adv.advLink}}</td>
                                <td >{{adv.jump == 1 ? '跳转': '不跳转'}}</td>
                                <td ><img :src="adv.imgPath" style="width: 40px; height: 20px;"></td>
                                <td >{{adv.adapter}}</td>
                                <td >{{adv.startDate}}</td>
                                <td >{{adv.endDate}}</td>
                                <td >{{adv.sort}}</td>
                                <td>
                                    <a href="javascript:void(0)" @onclick="editAdv(adv.id);"
                                       class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                            class="fa fa-edit"></i> <span>编辑</span></a>
                                    <a href="javascript:void(0)" @click="deleteAdv(adv.id, adv.version, index);"
                                       class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                            class="fa fa-trash-o"></i> <span>删除</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 模态框示例（Modal） -->
                    <form method="post" action="/admin/shop/saveAdv" class="form-horizontal" role="form" id="advForm" style="margin: 20px;" enctype="multipart/form-data">
                        <div class="modal fade" id="advModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            ×
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel" style="margin-bottom: 10px;">
                                            广告信息
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="advName" class="col-sm-3 control-label">广告名称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="advName" name="advName"
                                                           v-model="advDomain.advName" placeholder="请输入广告名称" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="advLink" class="col-sm-3 control-label">广告链接</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="advLink" value="" id="advLink"
                                                           placeholder="广告链接" required  v-model="advDomain.advLink">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="jump"  class="col-sm-3 control-label">是否跳转</label>
                                                <div class="col-sm-9">
                                                    <select id="jump" name="jump" class="form-control" required>
                                                        <option value="1">跳转</option>
                                                        <option value="0">不跳转</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="advImg" class="col-sm-3 control-label">上传图片</label>
                                                <div class="col-sm-9">
                                                    <input type="file" class="form-control" name="advImg" value="" id="advImg"
                                                           placeholder="上传图片" required accept="image/gif, image/jpeg, image/png">
                                                    <input type="text" v-model="advDomain.imgPath" style="display: none">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="adapter" class="col-sm-3 control-label">适用设备</label>
                                                <div class="col-sm-9">
                                                    <select id="adapter" class="form-control" name="adapter" required>
                                                        <option value="wx-programmer">小程序</option>
                                                        <option value="wx-public">公众号</option>
                                                        <option value="pc">电脑PC</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-group-title col-sm-3 control-label">日期范围</label>
                                                <div class="input-group date col-sm-9">
                                                    <input name="startDate" v-model="advDomain.startDate" class="form-control date-picker form-control-left">
                                                    <span class="input-group-addon"></span>
                                                    <input name="endDate" v-model="advDomain.endDate" class="form-control date-picker form-control-right">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="sort" class="col-sm-3 control-label">排序</label>
                                                <div class="col-sm-9">
                                                    <input type="number" min="0" class="form-control" v-model="advDomain.sort" name="sort"  id="sort" placeholder="排序" required>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group" style="margin-top: 20px;">
                                            <div class="col-sm-3"></div>
                                            <button type="button" class="btn btn-default col-sm-2" data-dismiss="modal">取消</button>
                                            <div class="col-sm-1"></div>
                                            <button type="button"  onclick="advSubmit()" class="btn btn-primary col-sm-2">提交</button>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div>
                        </div>
                    </form>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>


<script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    $('.date-picker').datepicker({
        minView: "day", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
        language: 'zh-CN', // 语言
        autoclose: true, //  true:选择时间后窗口自动关闭
        format: 'yyyy-mm-dd', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00
        todayBtn: true, // 如果此值为true 或 "linked"，则在日期时间选择器组件的底部显示一个 "Today" 按钮用以选择当前日期。

    });

    function advSubmit(){
        $('#advForm').validate();
        $("advModal").css("z-index", "1");
        $("#mask").modal('show');
        $('#advForm').submit();

    }


    function delLink(mid) {
        tale.alertConfirm({
            title:'确定删除该链接吗?',
            then: function () {
                tale.post({
                    url : '/admin/links/delete',
                    data: {mid: mid},
                    success: function (result) {
                        if(result && result.code == 'success'){
                            tale.alertOkAndReload('链接删除成功');
                        } else {
                            tale.alertError(result.msg || '链接删除失败');
                        }
                    }
                });
            }
        });
    }
    /*]]>*/
</script>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            advList: [],
            advDomain: {}
        },
        mounted:function () {
            //类似于jquery中的ready方法
            this.getAdvList();
        },
        methods:{
            getAdvList: function () {
                var _this=this;
                console.log(this);
                this.$http.get("/admin/shop/adv/list").then(function (res) {
                    console.log(res);
                    _this.advList = res.body;//body是vue封装的一层
                    _this.convertDate(_this.advList);
                    console.log(_this);
                });
            },
            deleteAdv: function (id, version, index) {
                var _this = this;
                tale.alertConfirm({
                    title: '确定删除该数据吗?',
                    then: function () {
                        _this.$http.post("/admin/shop/adv/delete", JSON.stringify({id: id, version: version})).then(function (res) {
                            console.log(res.body)
                            if (res.body.code == "success"){
                                _this.advList.splice(index,1);
                                tale.alertOkAndReload("操作成功");
                            }else{
                                tale.alertError(res.body.msg || "删除失败");
                            }
                        })
                    }
                });
            },
            convertDate: function (advList) {
                for (var i=0; i< advList.length; i++){
                    var startDate = advList[i].startDate;
                    var endDate = advList[i].endDate;
                    startDate = (startDate == null || undefined) ? "": startDate.replace("T", " ").split(".")[0]
                    endDate = (endDate == null || undefined) ? "": endDate.replace("T", " ").split(".")[0];
                    advList[i].startDate = startDate;
                    advList[i].endDate = endDate;
                }
            }
        }
    })
</script>
</body>
</html>